@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ocultar las flechas en navegadores basados en Webkit (Chrome, Edge, Safari) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Ocultar las flechas en Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: rgba(255, 255, 255, 0);
  color: black;
  overflow-x: hidden;
}
